<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-Shortener</title>
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form action="/shortUrls" method="POST" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only"> Url</label>
            <input type="url" name="fullUrl" id="fullUrl" class="form-control col  mr-2" placeholder="Enter your full URL">
            <button type="submit" class="btn btn-success">ShortenUrl</button>
        </form>
        <h3> Links generated in the last 5 minutes</h3>
        <table class="table table-striped  table-responsive">
            <thead>
                
                <tr>
                    <th>Full Url </th>
                    <th> Short Url</th>
                    <th> Total no of clicks</th>
                    <th> Generated before</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => { %>
                    <tr>
                      <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                      <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                      <td><%= shortUrl.click %></td>
                      <td><%= (new Date().getTime()-shortUrl.createdAt)/1000+"sec"%></td>
                    </tr>
                  <% }) %>
            </tbody>
        </table>
    </div>

</body>
</html>